<.header>Details</.header>

<.form for={@form} phx-change="update" phx-submit="next">
  <.input type="text" field={@form[:name]} />
  <.input type="text" field={@form[:timezone]} />

  <div class="flex justify-end">
    <.button variant="create" disabled={not @form.source.valid?}>Next</.button>
  </div>
</.form>
