<.header>Details</.header>

<.form :let={f} for={@form} phx-change="update" phx-submit="next">
  <.input type="text" field={f[:name]} />
  <.input type="text" field={f[:timezone]} />

  <div class="flex justify-end">
    <.button disabled={not f.source.valid?}>Next</.button>
  </div>
</.form>
