<.flash_group flash={@flash} />

<main class="flex flex-col items-center gap-12 py-8">
  <.live_component module={ScratchMatchForm} user_id={@user_id} id="scratch-match-create-form" />
  <.live_component module={ScratchMatchList} user_id={@user_id} id="scratch-match" />
</main>
