<div class="flex flex-nowrap overflow-hidden rounded-lg m-3 shadow-md">
  <.live_component
    :for={variant <- team_variants()}
    module={ScoreCard}
    id={"team-#{variant}"}
    variant={variant}
  />
</div>
